body{
    background: rgb(36, 35, 35);
}
img{
    height: 30px;
    width: 30px;
}
hr{
    border: 1px solid rgba(0, 68, 255, 0.503);
}
h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.home{
    width: 63px;
}
  
.button {
    background-color: #4042e9;
    color: #212121;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
}
  
.icon {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    background-color: #212121;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.icon a {
    color: #ffffff;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
}
  
.icon a:hover {
    background-color: #9bd3eb;
    color: #212121;
}
  
.icon #registro:hover {
    border-radius: 0px 0px 13px 13px;
}
  
.home:hover button {
    border-radius: 15px 15px 0px 0px;
}
  
.home:hover .icon {
    display: block;
}